@font-face {
  font-family: "Font1";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Font2";
  src: url("/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Font3";
  src: url("/fonts/Oswald-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Font4";
  src: url("/fonts/Carattere-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
