@font-face {
  font-family: "TheFam";
  src: url("./BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TheFam2";
  src: url("./Pacifico-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TheFam3";
  src: url("./Kalnia_Expanded-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
