.img-grid-container {
  width: 60%;
  height: 100%;
  display: flex;
}

.img-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  transition: transform 1s, opacity 1s;
}
.img-grid-display,
.img-grid-display-reverse {
  width: 200px;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  perspective: 1000px;
  grid-gap: 15px;
  transition: transform 1s, opacity 1s;
}
.img-grid-display-reverse {
  transform: translateY(-100%);
}

.img-grid img,
.img-grid-display img,
.img-grid-display-reverse img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: all 1.8s;
  opacity: 30%;
  cursor: pointer;
}

.img-grid img:hover,
.img-grid-display-reverse img:hover {
  opacity: 1;
  transform: scale(1.2);
}
.img-grid img {
  transform: translate(calc(var(--column) * 15px), calc(var(--row) * 35px))
    rotateY(-15deg) rotateX(13deg);
}

.img-grid-display img:nth-child(1) {
  margin-left: 30px;
  margin-top: 0;
}

.img-grid-display img:nth-child(2) {
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.img-grid-display-reverse img:nth-child(1) {
  margin-left: 25px;
  margin-top: 0;
}

.img-grid-display-reverse img:nth-child(2) {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.img-grid-display-reverse img:nth-child(3) {
  margin-top: 30px;
}
