.img-grid-container {
  width: 50%;
  height: 100%;
}

.img-grid {
  width: 200px;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  perspective: 1000px;
  grid-gap: 10px;
  transition: transform 1s, opacity 1s;
}

.img-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: all 1.8s;
  opacity: 30%;
  transform: rotateY(-13deg) rotateX(15deg);
}

.img-grid img:hover {
  transform: rotateY(0) rotateX(0);
  opacity: 1;
}

.img-grid img:nth-child(1) {
  margin-left: 30px;
  margin-top: 0;
}

.img-grid img:nth-child(2) {
  margin-left: 15px;
  margin-top: 5px;
}

.img-grid img:nth-child(3) {
  margin-top: 35px;
}
