.footer-main-container {
  width: 100%;
  height: 400px;
  background-color: rgb(18, 18, 18);
  display: flex;
}

.footer-container {
  width: 25%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-right: 1px solid black;
}
