.footer-main-container {
  width: 100%;
  height: 400px;
  background-color: rgb(18, 18, 18);
  display: flex;
}

.footer-container {
  width: 25%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list li {
  height: 25px;
  font-family: "Font1", sans-serif;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 2px 0px 2px 0px;
}
.footer-link {
  text-decoration: none;
  color: white;
}

.footer-link:hover {
  color: #cca000;
}

.footer-socials-container {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.footer-png {
  width: 75px;
  height: 75px;
}
.footer-award-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
