.container {
  position: absolute;
  top: 20%;
  left: 50%;
  border-radius: 50%;
  height: 86px;
  width: 86px;
  animation: rotate_3922 1.2s linear infinite;
  background-color: #104911;
  background-image: linear-gradient(#104911, #1e4f2a, #01200f);
}

.container span {
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: #104911;
  background-image: linear-gradient(#104911, #cca000);
}

.container span:nth-of-type(1) {
  filter: blur(5px);
}

.container span:nth-of-type(2) {
  filter: blur(10px);
}

.container span:nth-of-type(3) {
  filter: blur(25px);
}

.container span:nth-of-type(4) {
  filter: blur(50px);
}

.container::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #f7f4f3;
  border: solid 5px #f7f4f3;
  border-radius: 50%;
}

@keyframes rotate_3922 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
