@font-face {
  font-family: "theFam";
  src: url("./Sevillana-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TheFam3";
  src: url("./Kalnia_Expanded-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TheFam2";
  src: url("./Lobster-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
