@font-face {
  font-family: "theFam";
  src: url("./fonts/Sevillana-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TheFam3";
  src: url("./fonts/Kalnia_Expanded-SemiBold.ttf") format("truetype");
}
